.movie-content-holder{
    display: block;
    float: left;
    position: relative;
    width: calc( 100% - 10px);
    padding: 20px 5px 30px 5px; 
}
.movie-info-holder{
    display: block;
    float: left;
    position: relative;
    color: #FFFFFF;
}

.cover-image-holder {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    padding: 5px;
}

.cover-image {
    width: 700px;
    height: 800px;
    margin: auto;
}

.movie-container{
    display: block;
    position: relative;
    width: 800px;
    margin: auto;
}
.info-holder {
    display: block;
    float: left;
    width: 100%;
}

.related-movie{
    color: #FFFFFF;
    font-size: 20px;
}

.loadinggif{
    display: block;
    float: left;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    font-size: 25px;
}

.emptytext{
    text-align: center;
    width: 100%;
    color: #FFFFFF;
}


@media only screen and (max-width: 800px) {
    .movie-container {
        width: 100%;
    }
  }

  @media only screen and (max-width: 700px) {
    .cover-image {
        width: 100%;
        height: auto;
        margin: auto;
    }
  }